<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit">
        <title>随手记</title>
        <link rel="stylesheet" type="text/css" href="amWiki/css/markdownbody.github.css" />
        <link rel="stylesheet" type="text/css" href="amWiki/css/lhjs.github-gist.css" />
        <link rel="stylesheet" type="text/css" href="amWiki/css/amWiki.css" />
        
    </head>

    <body>
        <!-- 头部 -->
        <header class="header">
            <div class="header-inner">
                <a class="logo" href="?file=首页">
                    <img src="amWiki/images/logo.png" /><i></i>
                    <b>随手记</b>
                    <span>1.0</span>
                </a>
                <div class="menu-icon" id="menuIcon">
                    <svg>
                        <use xlink:href="#icon:navStart"></use>
                    </svg>
                </div>
            </div>
        </header>
        <!-- 页面 -->
        <div class="container" id="container">
            <div class="nav" id="nav">
                <div class="menu-filter">
                    <svg>
                        <use xlink:href="#icon:navFilter"></use>
                    </svg>
                    <input type="text" id="menuFilter" value="" placeholder="请输入筛选条件" title="请输入筛选条件" />
                    <i class="off" title="清空筛选">&times;</i>
                </div>
                <div class="menu-search" id="searchShow" title="全库搜索">
                    <svg>
                        <use xlink:href="#icon:search"></use>
                    </svg>
                </div>
                <nav class="menubar scroller" id="menuBar" data-x-rolling="true">
                    <div class="scroller-inner">
                        <div class="scroller-content"></div>
                    </div>
                </nav>
            </div>
            <div class="main scroller" id="main">
                <div class="main-inner scroller-inner">
                    <!-- 正文 -->
                    <article class="markdown-body scroller-content" id="view"></article>
                    <script id="template:footnote" type="text/html">
                        <sup><a href="#fn:foot{{index}}" name="fn:note{{index}}" title="{{title}}">[{{index}}]</a></sup>
                        <ol class="footnote"><i>[参考资料]：</i>{{list}}</ol>
                        <li id="fn:foot{{index}}">{{content}} {{back}}</li>
                        <li class="footnote-none" data-msg="匹配缺失">{{content}}</li>
                        <a href="#fn:note{{index}}">
                            <svg>
                                <use xlink:href="#icon:footnoteBack"></use>
                            </svg>
                        </a>
                    </script>
                    <!-- 上下翻页 -->
                    <div class="main-sibling scroller-content" id="mainSibling">
                        <p><span>上一篇：</span>
                            <a href="#"></a>
                        </p>
                        <p><span>下一篇：</span>
                            <a href="#"></a>
                        </p>
                    </div>
                    <!-- 全库搜索 -->
                    <div class="search-box" id="searchBox">
                        <div class="search-update">
                            <input type="button" id="searchUpdate" value="更新所有缓存" />
                            <div class="text">
                                <p>上次完全更新：<time id="cacheLasttime">0000-00-00 00:00:00</time></p>
                                <p>文档总数：<b id="cacheDocTotal">0</b> <i>/</i> <span>已缓存：<i id="cacheState">0%</i></span></p>
                            </div>
                        </div>
                        <h2>全库搜索</h2>
                        <div class="search-input">
                            <input type="text" id="searchText" placeholder="请输入搜索内容" />
                            <input type="button" id="search" value="搜 索" />
                        </div>
                        <div class="search-results" id="results">
                            <div class="search-result-message" id="resultMsg"></div>
                            <ul class="search-list"></ul>
                            <div class="search-result-more" id="resultMore">显示更多</div>
                            <script id="template:searchResult" type="text/html">
                                <li class="search-item">
                                    <a href="?file={{path}}">
                                        <div class="content">
                                            <strong>{{title}}</strong> {{api}} {{content}}
                                        </div>
                                        <div class="bottom">
                                            <p>位置：<span>{{path}}</span></p>
                                            <div class="time">最后缓存于
                                                <time>{{time}}</time>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </script>
                        </div>
                    </div>
                    <!-- 接口测试 -->
                    <!-- 接口测试面板 -->
<div class="testing-box" id="testingBox">
    <h2>请求内容</h2>
    <div class="testing-send">
        <input class="testing-send-url" id="testingSendUrl" type="text" title="请求地址" />
        <select class="testing-send-type" id="testingSendType" title="请求类型">
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
            <option value="DELETE">DELETE</option>
        </select>
        <h3>参数列表：</h3>
        <ul class="testing-params" id="testingParam"></ul>
        <script id="template:formList" type="text/html">
            <li>
                <span>{{describe}}</span>
                <input class="testing-param-key" type="text" value="{{keyName}}" placeholder="参数名" title="参数名" />&nbsp;&nbsp;
                <input class="testing-param-val" type="text" value="{{default}}" placeholder="请输入参数值 ({{valueType}})" {{required}}/>
                <big>*</big>
            </li>
        </script>
        <div class="testing-btn">
            <button class="testing-btn-send" id="testingBtnSend">发送Ajax</button> &nbsp;|&nbsp;
            <button id="testingBtnAdd">增加参数</button>
            <button id="testingBtnReset">重置参数值</button>
        </div>
        <div class="testing-btn2">
            <hr>
            <div class="testing-btn-param" id="testingBtnGParam" title="全局参数将影响所有接口">[<span>全局参数设置</span>]</div>
            <!-- 全局参数弹窗 -->
            <div class="testing-global" id="testingGlobal">
                <div class="testing-global-param"><i class="close">&times;</i>
                    <h4>全局参数列表<small>(全局参数影响所有接口)</small></h4>
                    <ul id="testingGlobalParam"></ul>
                    <script id="template:globalParam" type="text/html">
                        <li><i>&times;</i> 描述：
                            <input type="text" placeholder="describe" value="{{describe}}"><br> 参数名：
                            <input type="text" placeholder="key-name" value="{{keyName}}"><br> 参数值：
                            <input type="text" placeholder="value" value="{{value}}">
                        </li>
                    </script>
                    <div class="btn">
                        <div class="testing-global-working" id="testingGlobalWorking" title="禁用/启用全局变量"><i></i><span>启用中</span><span>已禁用</span></div>
                        <button class="add">增加</button> &#12288;|&#12288;
                        <button class="save">保 存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>响应内容<small id="testingDuration"></small>
        <svg id="testingLoading">
            <use xlink:href="#icon:loading"></use>
        </svg>
    </h2>
    <div class="testing-response">
        <iframe id="testingResponse" width="100%" frameborder="0" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes" framespacing="0"></iframe>
    </div>
</div>
                </div>
            </div>
        </div>
        <aside>
            <!-- 侧边目录 -->
            <div class="contents" id="contents">
                <div class="btn">
                    <svg>
                        <use xlink:href="#icon:contents"></use>
                    </svg>
                    <span>目录</span>
                </div>
                <div class="contents-list">
                    <p>
                        <a id="contentsTitle" href="#客户日志流水接口示例">客户日志流水接口示例</a>
                    </p>
                    <div class="markdown-contents"></div>
                </div>
            </div>
            <!-- 返回顶部 -->
            <div class="back-top" id="backTop">
                <a class="back-icon" href="#">
                    <svg>
                        <use xlink:href="#icon:backTop"></use>
                    </svg>
                </a>
                <a class="back-text" href="#">返回顶部</a>
            </div>
        </aside>
        <!-- 图片预览 -->
        <section class="imgsv" id="imgsView">
            <div class="imgsv-background"></div>
            <div class="imgsv-view" id="imgsViewInner"></div>
            <ul class="imgsv-panel">
                <li class="prev off">Prev</li>
                <li class="next">Next</li>
                <li class="original">1:1</li>
                <li class="suit">适合</li>
            </ul>
        </section>
        <footer>
            <!-- 签名 -->
            <div class="signature">Powered by
                <a href="https://github.com/TevinLi/amWiki" target="_blank">amWiki</a>
            </div>
        </footer>
        <!-- mounts -->
        <div class="hidden" aw-include="mountLinks">
            <script>AWConfig={"name":"随手记","ver":"1.0","testing":true,"version":"1.0","logo":"amWiki/images/logo.png","colour":"#4296eb","pageMounts":false,"githubUrl":"","libraryPrefix":""}</script>
        </div>
        <!-- js -->
        <div class="hidden">
            <script type="text/javascript" src="amWiki/js/gbk.js"></script>
            <script type="text/javascript" src="amWiki/js/pinyin.js"></script>
            <script type="text/javascript" src="amWiki/js/jquery-compat-3.1.0.min.js"></script>
            <script type="text/javascript" src="amWiki/js/marked.min.js"></script>
            <script type="text/javascript" src="amWiki/js/highlight.pack.js"></script>
            <script type="text/javascript" src="amWiki/js/raphael-min.js"></script>
            <script type="text/javascript" src="amWiki/js/flowchart.min.js"></script>
            <script type="text/javascript" src="amWiki/js/amWiki.tools.js"></script>
            <script type="text/javascript" src="amWiki/js/amWiki.storage.js"></script>
            <script type="text/javascript" src="amWiki/js/amWiki.search.js"></script>
            <script type="text/javascript" src="amWiki/js/amWiki.search.worker.js"></script>
            <script type="text/javascript" src="amWiki/js/amWiki.docs.js"></script>
            <script src="amWiki/js/amWiki.testing.js"></script>
            <script type="text/javascript" src="amWiki/js/amWiki.scrollbar.js"></script>
            <script type="text/javascript" src="amWiki/js/amWiki.imgsView.js"></script>
            <script type="text/javascript" src="amWiki/js/amWiki.js"></script>
            
        </div>
        <!-- svg -->
        <div class="hidden" id="svgSymbols"></div>
        <!-- 低版本浏览器警告 -->
        <div id="lowBrowser">
            <div></div>
            <p><span>您的浏览器版本过低，不支持浏览本Wiki，请升级或更换您的浏览器再试！</span></p>
            <script>
                (function(win) {
                    var notice = document.getElementById('lowBrowser');
                    //jQuery 3.x 需要 addEventListener 方法支持
                    if(typeof win.addEventListener == 'undefined') {
                        notice.style.display = 'block';
                    } else {
                        var comments = notice.previousSibling;
                        if(comments.nodeType == 8) {
                            comments.parentNode.removeChild(comments);
                        } else if(comments.previousSibling.nodeType == 8) {
                            comments = comments.previousSibling;
                            comments.parentNode.removeChild(comments);
                        }
                        notice.parentNode.removeChild(notice);
                    }
                    notice = comments = null;
                })(window);
            </script>
        </div>
    </body>

</html>